# Ignore node_modules in Backend and Frontend
Backend/node_modules/
Frontend/node_modules/

# Ignore .env files in Backend and Frontend
Backend/.env
Frontend/.env

# You can also add other common unwanted files or directories
.DS_Store
*.log
*.env
